.hallow,
.btn-hallow,
.btn-hallow:hover,
.btn-hallow:active,
.btn-hallow:visited,
.btn-hallow:focus {
    background-color: #FFC9DE;
    color: #BA2B86;
}

.border-hallow {
    border-color: #BA2B86 !important;
}

.forest,
.btn-forest,
.btn-forest:hover,
.btn-forest:active,
.btn-forest:visited,
.btn-forest:focus {
    background-color: #7FE99C;
    color: #00610E;
}

.border-forest {
    border-color: #00610E !important;
}

.underground,
.btn-underground,
.btn-underground:hover,
.btn-underground:active,
.btn-underground:visited,
.btn-underground:focus {
    background-color: #D0D0D0;
    color: #303030;
}

.border-underground {
    border-color: #303030 !important;
}